body {
    background-color: #343a40 !important;
}

.form-signin {
    background-color: #464b51;
    border-radius: 10px;
    color: #fefefe;
}

nav {
    background-color: #464b51 !important;
}

.sidebar .nav-link {
    color: #fff;
}

h1, h2, h3 {
    color: #fff !important;
}

.box {
    background-color: #464b51;
    color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}